@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: #111827; /* bg-gray-900 */
  min-height: 100vh;
}

html {
  background-color: #111827; /* bg-gray-900 */
}